html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.main-screen {
    display: flex;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(17, 20, 53);
    align-items: center;
    justify-content: center;
}

.main-screen button {
    border: none;
    border-radius: 10px;
    padding: 20px 40px;
    font-size: 26px;
    cursor: pointer;
}